@using Proyecto.Domain.InputModels.Cliente;
@model ClienteExistente
@{
    ViewData["Title"] = "Añadir Cliente";
}

<div class="container-fluid" style="max-width: 924px;">
    <div class="row">
        <div class="col-12">
            <h1><i class="fa-solid fa-person-circle-plus"></i> Add Guests</h1>
        </div>
    </div>
    <form method="post">
        <fieldset>
            <div class="table">
                <div class="row">
                    <div class="col-12 text-danger form-text" asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.NombreCliente" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.NombreCliente" class="form-control">
                        <span asp-validation-for="@Model.NombreCliente" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="@Model.ApellidoCliente" class="form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="@Model.ApellidoCliente" class="form-control">
                        <span asp-validation-for="@Model.ApellidoCliente" class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-user-shield"></i>Save</button>
                        <a asp-asp-controller="Guests" asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                    </div>
            </div>
        </fieldset>
    </form>
</div>