@* @model InicioSesion *@

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}

    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login</h2>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Tienes una cuenta?</h3>
                @if (@ViewBag.MsjPantalla != null)
                {
                    <div style="text-align:center" class="alert alert-warning" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                }
            <form action="#" class="signin-form">
                <div class="form-group">
                    @* @Html.TextBoxFor(m => m.Correo, new { @type = "email", @placeholder = "Correo Electrónico", @class = "form-control" }) *@

                </div>
                <div class="form-group">
                    @* @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @id = "password-field", @placeholder = "Contraseña", @class = "form-control" }) *@
                    @*<input type="password" id="password-field" placeholder="Contraseña">*@
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                </div>

                <div class="form-group d-md-flex" style="text-align:center">
                    @*<div class="w-50">
                <label class="checkbox-wrap checkbox-primary">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Acordarme de mi
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
            </div>*@
                    <a href="@Url.Action("Recuperar", "Home")" style="color: #fff">Has olvidado tu contraseña</a>


                </div>

                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Iniciar Sesión</button>
                </div>

            </form>
                <a asp-controller="Home" asp-action="Registro" class="btn btn-success mb-3">
                    <i class="bi bi-person-plus"></i> Registrarse
                </a>
            </div>
        </div>
    </div>

