@using Proyecto.Domain.InputModels.Cliente;
@model NuevoCliente
@{
    ViewData["Title"] = "Añadir Cliente";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}


    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Deseas crear una cuenta?</h3>
                @if (@ViewBag.MsjPantalla != null)
                {
                    <div style="text-align:center" class="alert alert-warning" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                }
            <form action="#" method="post">
                    <div class="form-group d-md-flex">
                        <div class="w-50">
                            <input asp-for="@Model.NombreCliente" class="form-control">
                            <span asp-validation-for="@Model.NombreCliente" class="text-danger form-text"></span>

                        </div>
                        <div class="w-50">
                            <input asp-for="@Model.ApellidoCliente" class="form-control">
                            <span asp-validation-for="@Model.ApellidoCliente" class="text-danger form-text"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.CedulaCliente" class="form-control">
                        <span asp-validation-for="@Model.CedulaCliente" class="text-danger form-text"></span>

                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.CorreoElectronico" class="form-control">
                        <span asp-validation-for="@Model.CorreoElectronico" class="text-danger form-text"></span>

                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.NumeroTelefono" class="form-control">
                        <span asp-validation-for="@Model.NumeroTelefono" class="text-danger form-text"></span>

                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.DireccionCliente" class="form-control">
                        <span asp-validation-for="@Model.DireccionCliente" class="text-danger form-text"></span>

                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Registrarse</button>
                    </div>
                    <div class="form-group d-md-flex">
                        @*<div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">
                    Acordarme de mi
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    </label>
                    </div>*@

                    </div>
                </form>
                <div class="social d-flex text-center">
                    <a asp-asp-controller="Home" asp-action="Login" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

